@import 'utils/libs';
@import 'utils/reset';

//My style sass
@import 'sass/header';
@import 'sass/app';
@import 'sass/variables';
@import 'sass/mixins';

//Include Fonts
@font-face {
  font-family: "rouble";
  src: url("../fonts/rouble.woff") format("woff"),
       url("../fonts/rouble.woff2") format("woff2")
  ;
}
@font-face {
  font-family: "Lato-Heavy";
  src: url("../fonts/Lato-Heavy.ttf") format("TrueType"),
       url("../fonts/Lato-Heavy.woff") format("woff"),
       url("../fonts/Lato-Heavy.woff2") format("woff2")
;
}
